atlassian-python-api==3.41.9
docx2txt==0.8
fastapi==0.109.2
html2text==2020.1.16
langchain==0.0.336
langcodes==3.3.0
#language-data==1.1
loguru==0.7.0
#marisa-trie==0.7.8
opensearch-py==2.3.0
pydantic==1.10.11
pyjwt==2.8.0
pypdf==3.17.0
python-dotenv==1.0.0
python-multipart==0.0.9
requests==2.31.0
sentence-transformers==2.2.2
starlette==0.36.3
urllib3==1.26.18
uvicorn==0.23.2
pathlib~=1.0.1
o365~=2.0.31
prometheus-fastapi-instrumentator==6.1.0
prometheus-client==0.17.1
# test scope
httpx==0.24.1
pytest==7.4.0
pytest-cov==4.1.0
pytest-mock==3.11.1
responses==0.23.3